    html {
        font-family: 'Inter', sans-serif;
    }

    html,
    body {
        @apply h-full;
    }

    body {
        @apply m-0;
    }

    * {
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
    }

    a:active,
    a:focus,
    button:active,
    button:focus {
        outline: none;
        /* stylelint-disable-line */
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        margin: 0;
        appearance: none;
    }

    input[type='number'] {
        appearance: textfield;
    }

    .scrollbar-thin {
        scrollbar-width: thin;
    }

    .smooth-scroll {
        -webkit-overflow-scrolling: touch;
    }

    ::-webkit-scrollbar {
        @apply w-1.5;
        @apply h-1.5;
        @apply px-1 py-2;

        @apply rounded-lg;
    }

    ::-webkit-scrollbar-track {
        @apply my-1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-slate-400;
        @apply rounded-lg;
        padding-right: 16px;
    }